/* new workout form */
label,
input {
  display: block;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  justify-content: center;
}

.button-test{
    margin-left: 122px;
    margin-top: 15px;
}
.button-test-one{
    margin-left: 83px;
    margin-top: 15px;
}

.text-header-otp{
    margin-left: 90px;
    margin-bottom: 20px;
}

div.success {
  padding: 10px;
  background: #d7f3c9;
  border: 1px solid var(--primary);
  color: var(--primary);
  border-radius: 4px;
  margin: 20px 0;
}

input.success {
  border: 1px solid var(--primary);
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--error);
}

.login-reset1{
    max-width: 400px;
  /* margin: 40px auto; */
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

/* auth forms */
form.signup,
form.login-reset {
  max-width: 400px;
  /* margin: 40px auto; */
  margin: 107px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

form.login-reset-one {
    max-width: 400px;
    /* margin: 40px auto; */
    margin: 38px auto;
    padding: 20px;
    background: #fff;
    border-radius: 4px;
  }